.modal-post-detail-container {
  max-width: 90%;
  max-height: 90%;
  justify-content: center;
  align-items: center;

  .form-info-job {
    .btn-container {
      .btn-reject {
        background-color: rgb(224, 74, 74);
        color: white;
        &:hover {
          border-color: red;
        }
      }
      .btn-approved {
        background-color: rgb(57, 159, 57);
        color: white;
        &:hover {
          border-color: green;
        }
      }
    }
  }
}
