#components-form-login {
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-container {
    background-color: white;
    width: 600px;
    height: 700px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;

    flex-direction: column;
    .title-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 30px;
      .title {
        cursor: pointer;
        padding-top: 30px;
        // font-family: "Rubik";
        font-weight: 800;
        font-size: 35px;
      }
    }
    .login-form {
      height: 100%;
      width: 500px;
      // width: 300px;

      .or-login-title {
        text-align: center;
        color: #999;
        font-size: 16px;
        font-weight: 450;
      }
      .or-login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        .btn {
          width: 33%;
          border-radius: 5px;
          color: #fff;
          height: 40px;
          font-weight: 600;
        }
        .login-google-button {
          background: #e73b2f;
          border-color: #e73b2f;
        }
        .login-facebook-button {
          background: #1877f2;
        }
        .login-linkedin-button {
          background: #0a66c2;
          border-color: #056497;
        }
        .or-tab-sign-up {
          p {
            span {
              font-size: 15px;
              font-weight: 600;
            }
          }
        }
      }

      .login-form-button {
        width: 100%;
        background: #00b14f;
        height: 40px;
        font-weight: 600;
      }
    }
    .login-form-forgot {
      float: right;
    }

    .ant-col-rtl {
      .login-form-forgot {
        float: left;
      }
    }
  }
}
