.employer-dashboard-container {
  // width: 100%;
  // max-width: 100vw;
  display: flex;
  justify-content: space-between;
  // width: 100%;
  // height: 100vh;
  // max-height: 100vh;

  .employer-dashboard-content {
    border: 1px solid red;
    // width: 100%;
    height: 100vh;
    max-height: 100vh;
  }
}
