.cv-applied-manage-container {
  padding: 0 20px;
  .title {
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  .filter-container {
    // display: flex;
  }
  .cv-applied-manage-content {
    .header-content {
      .total-cv {
      }
      .filter-table {
      }
    }
    .table-container {
    }
  }
}
