.them-chat-item-container {
  display: flex;
  gap: 8px;
  margin-bottom: 7px;
  align-items: center;

  .chat-value {
    border-radius: 20px;
    padding: 10px;
    max-width: 80%;
    word-wrap: break-word;
    background-color: rgb(237, 237, 237);
    span {
      max-width: 80%;
    }
  }
}
.my-chat-item-container {
  margin-bottom: 7px;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
  .logo {
    display: none;
  }
  .chat-value {
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    max-width: 80%;
    word-wrap: break-word;
    background-color: rgb(96, 96, 96);
    color: white;
    span {
      max-width: 80%;
    }
  }
}
