.settings-page-container {
  background-color: rgb(247, 248, 250);
  display: flex;
  // gap: 10px;

  max-height: 100vh;
  .sider-container {
    display: block;
  }
  // @media (max-width: 992px) {
  //   .sider-container {
  //     display: none;
  //   }
  // }
  .settings-page-content {
    // border: 1px solid red;
    background-color: rgb(247, 248, 250);
    width: 100%;
    height: 100vh;
  }
}
