.notify-drawer-container {
  height: 100vh;
  .ant-drawer-header {
    padding-right: 0;
    .ant-drawer-header-title {
      flex-direction: row-reverse;
    }
  }

  .title-container {
    display: flex;
    gap: 20px;
    align-items: center;
    h2 {
      font-weight: 700;
      font-size: 20px;
      color: #555;
    }
    span {
      font-size: 22px;
      border-radius: 6px;
      background: #e6efff;
      padding: 10px 15px;
    }
  }
  .ant-drawer-body {
    padding: 0;
    // &::-webkit-scrollbar-track {
    //   background-color: #f5f5f5;
    // }

    // &::-webkit-scrollbar {
    //   width: 5px;
    //   background-color: #aeaeae;
    // }

    // &::-webkit-scrollbar-thumb {
    //   background-color: #aeaeae;
    // }

    .ant-drawer-body {
      background: #f7f7f7;
    }
  }
  #content-wapper-drawer-notify {
    height: 83vh;
    // overflow: auto;
    .top-content {
      background: #f7f7f7;
      padding: 15px 0px 15px 20px;
      border-bottom: 1px solid #e5e5e5;
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 12px;
      a {
        font-size: 13px;
        font-weight: 500;
      }
    }

    .list-item-notify {
      background: #f7f7f7;
      height: 81vh;
      padding: 10px;
      max-height: 81vh;
      overflow: auto;
      &::-webkit-scrollbar-track {
        background-color: #f5f5f5;
      }

      &::-webkit-scrollbar {
        width: 5px;
        background-color: #aeaeae;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #aeaeae;
      }
    }
  }
}
