.company-page-container {
  align-items: center;
  background: #f3f5f7 !important;

  .company-page-contentt {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
