.wrap-input-auto-resize {
  position: relative;
  max-width: 362px;
  width: auto;

  [id^='auto-resize-input'] {
    width: 100%;
    max-width: 362px;
    padding: 0 !important;
    // background-color: rgb(239, 242, 249);
    background-color: #fff;
    color: rgb(30, 37, 50);
    outline: none;
    border: none;
    // border-radius: 5px;
  }

  &:focus-within .line {
    width: 100%;
  }
  .line {
    content: '';
    background-color: rgb(26, 145, 240);
    height: 2px;
    position: absolute;
    width: 0;
    left: 0;
    transition: width 0.15s ease-in;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
