.payment-form-container {
  border: 1px solid rgb(233, 232, 232);

  padding: 20px;
  border-radius: 5px;
  .total-label {
    padding-bottom: 10px;
    font-weight: 500;
    .vat {
      font-weight: 300;
      font-size: 13px;
    }
  }
  .total-container-not-vat {
    .total-value {
      font-weight: 500;
    }
  }
  .total-container-vat {
    .total-value {
      font-weight: 500;
      color: rgb(255, 125, 85);
    }
  }
  .options-payment-container {
    padding: 15px;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
  }
}
