.top-job-container {
  // background-color: white;
  height: 500px;
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .title-top-job-container {
    background-image: url('../../../../../../assets/featured-jobs-background.png');
    background-repeat: no-repeat;
    background-position: 0;
    background-size: contain;
    background-color: #f2f7ff;
    border-radius: 10px 10px 0 0;
    border: 1px solid #ccdeff;
    padding: 20px 25px 20px 40px;
    display: flex;
    justify-content: space-between;
    .title-top-job {
      color: white;
      font-weight: 700;
      font-size: 22px;
      color: black;
    }
    .tab-all-job {
      color: black;
      font-weight: 500;
      &:hover {
        color: rgb(90, 107, 95);
      }
    }
  }
  .top-job-content {
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding: 24px;
    height: 75%;
    .swiper {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      height: calc((100% - 30px) / 2) !important;
    }

    .top-job-item {
      &:hover {
        border: 1px solid #ccdeff;
      }
      cursor: pointer;
      border: 1px solid rgb(241, 241, 241);
      border-radius: 15px;
      height: 100%;
      display: flex;

      .icon-company-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 70%;
          height: 70%;
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }
      .job-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 5px;
        padding: 10px;
        div {
          max-width: 90%;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .name-job {
          font-weight: 600;
          font-size: 17px;
        }
        .name-company {
          font-weight: 400;
          font-size: 15px;
          color: rgb(51, 51, 51);
        }
        .price-job {
          font-size: 14px;
          line-height: 18px;
          font-weight: 500;
          color: rgb(255, 125, 85);
        }
      }
    }
  }
}
