.right-content-chat-page-container {
  // padding: 15px;
  width: 25%;
  min-width: 379.8px;
  min-height: 89vh;
  height: 89vh;
  background-color: white;
  border: 1px solid rgb(241, 242, 244);
  .header-container {
    display: flex;
    // justify-content: center;
    height: 10%;
    align-items: center;
    padding: 15px;

    border-bottom: 1px solid rgb(241, 242, 244);
    h5 {
      margin-bottom: 0;
    }
  }
}
