.page-sign-up-employer-container {
  display: flex;
  .page-sign-up-employer-wapper {
    &::-webkit-scrollbar {
      display: none;
    }
    overflow: auto;

    max-height: 100vh;
    padding: 30px 20px;
    // width: 60%;
    display: flex;
    justify-content: center;
    .sign-up-employer-content {
      width: 90%;
      padding: 30px 20px;

      .title-container {
        padding-bottom: 20px;
        .title {
          cursor: pointer;
          font-size: 30px;
          font-weight: 800;
          padding-bottom: 20px;
        }
        p {
          font-size: 24px;
          font-weight: 700;
          color: rgb(255, 125, 85);
        }
        span {
          color: #212f3f;
          padding-bottom: 20px;
        }
      }
      .sign-up-form {
        .site-form-item-icon {
          color: 'rgb(255, 125, 85)';
        }
      }
      .sign-up-form-button {
        margin-top: 20px;
        width: 100%;
        background-color: rgb(255, 125, 85);
        height: 40px;
      }
      .or-tab-login {
        padding-bottom: 20px;
      }
    }
  }
}
.banner {
  // width: 40%;
  height: 100vh;
  background-image: url('https://tuyendung.topcv.vn/app/_nuxt/img/banner-03.6c4018d.png');
}
