.employer-sidebar-container {
  min-height: 92vh;
  // max-height: 100vh;
  height: auto;
  overflow: auto;
  ::-webkit-scrollbar {
    border-radius: 25px;
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 15px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  //   width: 100%;
  .clicked-side-bar {
    background-color: rgb(82, 82, 82);
    color: white;

    font-weight: 700;
  }
  .clicked-menu-item {
    color: white;

    font-weight: 700;
  }
  .dont-click-side-bar {
  }
}
// .pro-sidebar {
//   .pro-sidebar-inner {
//     background: linear-gradient(270deg, #005aff, #001744);
//   }
// }
@media (max-width: 768px) {
  .pro-sidebar {
    &.md {
      position: static;
      left: 0;
    }
  }
}
@media (max-width: 576px) {
  .pro-sidebar {
    &.md {
      position: static;
      left: 0;
    }
  }
}
