.service-item-containerr {
  width: 100%;
  // border: 1px solid #dee2e6 !important;
  cursor: pointer;
  .item-wapper {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    // border-bottom: 1px solid #dee2e6 !important;
    .name {
      font-size: 12px;
      font-weight: 600;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .active {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(243 248 252 / var(--tw-bg-opacity)) !important;
    border: 1px solid rgb(0 90 255);
  }
}
