.overview-container {
  .title {
    border: 1px solid red;
  }
  .history-actions-container {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    .title_2 {
      border: 1px solid grey;
    }
    .history-actions-content {
      display: flex;
      .chart-history-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .chart {
          height: 70%;
        }
        .chart-symbol {
          height: 30%;
          display: flex;
          justify-content: center;
        }
      }
      .count-history-container {
        width: 50%;
        border: 1px solid gray;
        .item-history {
          display: flex;
          border: 1px solid green;
          .count-number {
            width: 30%;
          }
          .label-history {
            width: 70%;
          }
        }
      }
    }
  }
}
