.page-login-employer-container {
  display: flex;
  .page-login-employer-wapper {
    &::-webkit-scrollbar {
      display: none;
    }
    overflow: auto;

    max-height: 100vh;
    padding: 30px 20px;
    // width: 60%;
    display: flex;
    justify-content: center;
    .login-employer-content {
      width: 60%;
      padding: 30px 20px;

      .title-container {
        padding-bottom: 20px;
        .title {
          font-size: 30px;
          font-weight: 800;
          padding-bottom: 20px;
        }
        p {
          font-size: 24px;
          font-weight: 700;
          color: #00b14f;
        }
        span {
          color: #212f3f;
          padding-bottom: 20px;
        }
      }
      .login-form {
        .title {
        }
        .email-input {
        }
        .site-form-item-icon {
          color: '#00b14f';
        }
      }
      .login-form-button {
        margin-top: 20px;
        width: 100%;
        background-color: #00b14f;
        height: 40px;
      }
      .or-tab-sign-up {
        padding-bottom: 20px;
      }
    }
  }
}
.banner {
  // width: 40%;
  height: 100vh;
  background-image: url('https://tuyendung.topcv.vn/app/_nuxt/img/banner-03.6c4018d.png');
}
