.left-chat-item-container {
  min-height: 92px;
  padding: 0 15px;
  display: flex;
  border: 1px solid red;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  .left-wapper {
    display: flex;
    gap: 7px;
    align-items: center;
    width: 100%;
    .info-chat-container {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      .name {
        max-width: 80%;
        font-weight: 500;
        font-size: 15px;
      }
      .latest-message {
        max-width: 80%;
        font-size: 13px;
      }
    }
  }
  .right-wapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    .latest-time {
      height: 100%;
      font-size: 12px;
    }
    .btn-container {
      position: absolute;
      display: none;
      .btn-more-option {
      }
    }
  }

  &:hover {
    .btn-container {
      display: block;
    }
  }
}
