.left-chat-item-container {
  min-height: 82px;
  width: 100%;
  padding: 0 15px;
  display: flex;
  //   border: 1px solid red;
  //   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  .left-wapper {
    display: flex;
    gap: 7px;
    align-items: center;
    width: 80%;
    .logo {
      min-width: 52px;
      min-width: 42px;
      object-fit: contain;
    }
    .info-chat-container {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      .name {
        max-width: 70%;
        font-weight: 500;
        font-size: 15px;
      }
      .latest-message {
        max-width: 70%;
        font-size: 13px;
      }
    }
  }
  .right-wapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    position: relative;
    .latest-time {
      height: 100%;
      font-size: 12px;
    }
    .btn-container {
      position: absolute;
      display: none;
    }
  }

  &:hover {
    background-color: rgb(241, 242, 244);

    .btn-container {
      display: block;
    }
  }
}
.active-chat-item {
  background-color: #ecf3ff;
  &:hover {
    background-color: #ecf3ff;
  }
}
