.home-container{
    padding: 10px 40px 50px 40px;
    // background-color: rgb(153, 245, 160);
    background: linear-gradient(270deg,#005aff,#001744);
    .home-search-container{
        padding: 20px 0 30px 0;
    }
    // .home-carousel-container{
    //    height: 500px;
    // }
}