.footer-container{
   float: inline-end;
    background-color: #001744;
    padding: 30px 30px 15px 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    .footer-content{
        padding-bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        
        .title{
            color: #fff;
            font-weight: 500;
            font-size: 17px;
            margin-bottom: 5px;
        }
        a{
            color: #b3ceff!important;
            font-weight: 400;
            font-size: 15px;
        }
    }
    .footer-address{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        text-align: center;
        
        span{
            max-width: 60%;
            color: #777;
            font-size: 13px;
        }
    }
    .footer-bottom-container{
        .footer-name-web{
            text-align: center;
        }
       .bottom-diagram{
            // float: right
       }
    }
}