.page-cart-container {
  border-top: 1px solid rgb(209, 208, 208);
  padding: 20px;
  min-height: 91vh;
  .left-container {
    padding: 0 20px;
    .title {
      font-size: 18px;
      font-weight: 700;
      padding: 20px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
      border-radius: 5px;
      margin-bottom: 12px;
    }
  }
  .right-container {
    padding: 0 20px;
  }
}
