:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* font-family: "Rubik"; */
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  .container {
    position: relative;
    margin: 0;
  }
  @media (min-width: 1280px) {
    .container {
      max-width: none;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: none;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: none;
    }
  }

  @media (min-width: 640px) {
    .container {
      max-width: none;
    }
  }
}
a {
  text-decoration: none;
}
