:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* font-family: "Rubik"; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
a{
  text-decoration: none;
}
.container {
  position: relative;
  /* padding: 15px; */
  /* margin-left: auto;
  margin-right: auto; */
  /* padding-right: 15px;
  padding-left: 15px; */
}
/* @media (min-width: 476px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
} */
/* @media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
} */
/* @media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
} */
/* @media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
} */
/* @media (min-width: 476px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1340px;
    max-width: 100%;
  }
} */
