.info-container {
  padding: 0 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: auto;
  gap: 10px;
  background-color: white;
  color: rgb(8, 8, 8);
  .content-left {
    width: 100%;
    .info {
      padding-bottom: 7px;
      font-size: 16px;
    }
    .descriptions {
      padding-bottom: 20px;
    }
    .requirements {
      padding-bottom: 20px;
    }
    .skill-requirements {
      padding-bottom: 20px;
    }
    .working-address {
      padding-bottom: 20px;
    }
    .benefit {
      padding-bottom: 20px;
    }
  }
  .content-right {
    width: 100%;
    height: 100%;
    border: 1px solid #b3ceff;
    padding: 23px;
    background-color: #f0f7ff;
    border-radius: 6px;

    .item-container {
      padding: 12px 0;
      display: flex;
      gap: 10px;
      width: 100%;
      border-bottom: 1px solid rgba(206, 211, 213, 0.5);
      .icon {
        color: #949697;
        font-size: 22px;
      }

      .item-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        // gap: 5px;

        .label {
          color: #949697;
          font-weight: 500;
          font-size: 14px;
        }
        .data {
          color: #333333;
          font-weight: 400;
          font-size: 15px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .content-right {
      border: 1px solid rgba(206, 211, 213, 0.5);
      background-color: white;
    }
  }
}
